.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    border: 1px solid black;
    /* width: 80%;
    margin: auto; */
    margin: 0px;
    text-align: center;
    background-color: gray;
}

body {
    margin: 0px;
}

.child1, .child2, .child3, .child4, .child5, .child6 {
    border: 1px solid black;
}

.child1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;
}

.child2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: orange;
}

.child3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: blue;
}

.child4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: green;
}

.child5 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: purple;
}

h1 {
    text-align: center;
}